In [1]:
%load_ext autoreload
%autoreload 2

import os
import pandas as pd
import getpass
import sqlalchemy
from sqlmodel import SQLModel
import tqdm

In [2]:
conn = sqlalchemy.create_engine('postgresql://postgres:password@127.0.0.1:5432/limbless_db')
conn

Engine(postgresql://postgres:***@127.0.0.1:5432/limbless_db)

In [3]:
q = """
SELECT * FROM pg_extension WHERE extname = 'pg_trgm';
"""

if len(pd.read_sql(q, conn)) == 0:
    conn.execute('CREATE EXTENSION pg_trgm;')

pd.read_sql(q, conn)

,oid,extname,extowner,extnamespace,extrelocatable,extversion,extconfig,extcondition
0,16385,pg_trgm,10,2200,True,1.6,None,None

In [4]:
from limbless import db, models, categories

In [5]:
conn.execute(
"""
INSERT INTO indexkit (id, name)
VALUES (0, 'empty');
""")

In [6]:
conn.execute(
"""
INSERT INTO seqadapter (id, name, index_kit_id)
VALUES (0, '', 0);
""")

In [7]:
conn.execute(
"""
INSERT INTO seqindex (id, sequence, type, adapter_id, index_kit_id)
VALUES (0, '', '', 0, 0);
""")

In [8]:
for table in SQLModel.metadata.tables.items():
    print(table[0])
    for column in table[1].columns:
        print(f" - {column.name}")

job
 - id
 - name
 - slurm_id
 - status
project
 - id
 - name
 - description
 - owner_id
libraryseqrequestlink
 - library_id
 - seq_request_id
librarysamplelink
 - library_id
 - sample_id
 - seq_index_id
runlibrarylink
 - run_id
 - library_id
indexkitlibrarytype
 - index_kit_id
 - library_type_id
sample
 - id
 - name
 - organism_id
 - project_id
 - owner_id
run
 - id
 - lane
 - r1_cycles
 - r2_cycles
 - i1_cycles
 - i2_cycles
 - experiment_id
user
 - id
 - first_name
 - last_name
 - email
 - password
 - role
experiment
 - timestamp
 - id
 - flowcell
librarytypeid
 - id
library
 - id
 - name
 - library_type_id
 - index_kit_id
 - owner_id
organism
 - tax_id
 - scientific_name
 - common_name
 - category
seqindex
 - id
 - sequence
 - type
 - adapter_id
 - index_kit_id
indexkit
 - id
 - name
seqrequest
 - id
 - name
 - description
 - status
 - requestor_id
 - person_contact_id
 - billing_contact_id
 - bioinformatician_contact_id
contact
 - id
 - name
 - organization
 - email
 - phone
 - billing_code
 - address
seqadapter
 - id
 - name
 - index_kit_id

In [9]:
password = getpass.getpass("Password: ")
admin = db.db_handler.create_user(
    email="admin@email.com",
    first_name="CeMM",
    last_name="Admin",
    password=password,
    role=categories.UserRole.ADMIN,
)
admin

User(id=1, last_name='Admin', password='$2b$12$H5lT5mhmmO.86VAHhzJElO8GVf6w7HGio0CqmJG/cvqXTVRChzq1i', first_name='CeMM', email='admin@email.com', role=1, requests=[], samples=[], libraries=[], projects=[])

In [10]:
client = db.db_handler.create_user(
    email="client@email.com",
    first_name="CeMM",
    last_name="Client",
    password=password,
    role=categories.UserRole.CLIENT,
)
client

User(id=2, last_name='Client', password='$2b$12$B1dY.4eiTEBe7HyZ1A1K2ONM0itlXERHG9m8Lyoo3JhU8g1epljB2', first_name='CeMM', email='client@email.com', role=4, requests=[], samples=[], libraries=[], projects=[])

In [11]:
bio = db.db_handler.create_user(
    email="bio@email.com",
    first_name="CeMM",
    last_name="Bioinformatician",
    password=password,
    role=categories.UserRole.BIOINFORMATICIAN,
)
bio

User(id=3, last_name='Bioinformatician', password='$2b$12$nkX9sTQd/ZY7CGr9hPGzGeK14I3ussXGXmzchtWGIiaW6kHz7gvxu', first_name='CeMM', email='bio@email.com', role=2, requests=[], samples=[], libraries=[], projects=[])

In [12]:
tech = db.db_handler.create_user(
    email="tech@email.com",
    first_name="CeMM",
    last_name="Technician",
    password=password,
    role=categories.UserRole.TECHNICIAN,
)
tech

User(id=4, last_name='Technician', password='$2b$12$5oZ0cYd1tIRVIZJdGKJKROAZJmOkfN8sWhvgaZ8bAuNBMjEdqc0li', first_name='CeMM', email='tech@email.com', role=3, requests=[], samples=[], libraries=[], projects=[])

In [13]:
label_search_columns: dict[str, list[str]] = {
    "project": ["name"],
    "experiment": ["flowcell"],
    "library": ["name"],
    # "organism": ["scientific_name", "common_name"],
    "seqindex": ["sequence"],
    "seqadapter": ["name"],
    "indexkit": ["name"],
}

In [14]:
for table, columns in label_search_columns.items():
    for column in columns:
        conn.execute(f"""
            CREATE INDEX
                trgm_{table}_{column}_idx
            ON
                {table}
            USING
                gin (lower({column}) gin_trgm_ops);
        """)

In [15]:
conn.execute(f"""
    CREATE INDEX
        trgm_organism_name_idx
    ON
        organism
    USING
        gin (lower(common_name) gin_trgm_ops, lower(scientific_name) gin_trgm_ops);
""")

In [16]:
from limbless.categories import LibraryType

for library_type in LibraryType:
    db.db_handler.create_library_type(library_type)

In [17]:
from limbless.index_kits import add_index_kits
add_index_kits(db.db_handler, datadir="data")

In [18]:
df = pd.read_csv("data/species.csv", index_col=0)
df

                      scientific name genbank common name common name type
tax_id
7            Azorhizobium caulinodans                 NaN         NaN    B
9                 Buchnera aphidicola                 NaN         NaN    B
11                Cellulomonas gilvus                 NaN         NaN    B
14          Dictyoglomus thermophilum                 NaN         NaN    B
17       Methylophilus methylotrophus                 NaN         NaN    B
...                               ...                 ...         ...  ...
3071318           Vibrio phage XacF13                 NaN         NaN    V
3071372        Oikopleura sp. OKI2018                 NaN         NaN    E
3071373       Oikopleura sp. OSKA2016                 NaN         NaN    E
3071397        Cyphostemma cornigerum                 NaN         NaN    E
3071942         Anastrepha curvivenis                 NaN         NaN    E

[2314792 rows x 4 columns]

In [19]:
vstats = pd.read_table("data/stats/Viruses.ids", header=None, usecols=[0])
vstats = vstats.groupby(0).size().sort_values(ascending=False)

bstats = pd.read_table("data/stats/Bacteria.ids", header=None, usecols=[0])
bstats = bstats.groupby(0).size().sort_values(ascending=False)


astats = pd.read_table("data/stats/Archaea.ids", header=None, usecols=[0])
astats = astats.groupby(0).size().sort_values(ascending=False)

estats = pd.read_table("data/stats/Eukaryota.ids", header=None, usecols=[0])
estats = estats.groupby(0).size().sort_values(ascending=False)

In [20]:
stats = pd.concat([vstats, bstats, astats, estats], axis=0)

In [21]:
for tax_id, row in tqdm.tqdm(df.iterrows(), total=len(df)):
    if tax_id not in stats.index:
        continue
    
    if stats[tax_id] < 2:
        continue
        
    cat = row["type"]
    if cat == "A":
        _cat = categories.OrganismCategory.ARCHAEA
    elif cat == "B":
        _cat = categories.OrganismCategory.BACTERIA
    elif cat == "E":
        _cat = categories.OrganismCategory.EUKARYOTA
    elif cat == "V":
        _cat = categories.OrganismCategory.VIRUSES
    elif cat == "U":
        _cat = categories.OrganismCategory.UNCLASSIFIED
    else:
        _cat = categories.OrganismCategory.OTHER
    
    if not pd.isna(row["genbank common name"]):
        common_name = row["genbank common name"]
    elif not pd.isna(row["common name"]):
        common_name = row["common name"]
    else:
        common_name = None

    scientific_name = row["scientific name"]

    assert scientific_name is not None 
    assert tax_id is not None

    if len(scientific_name) > 128:
        scientific_name = scientific_name[:125] + "..."

    db.db_handler.create_organism(
        tax_id=tax_id,
        scientific_name=scientific_name,
        common_name=common_name,
        category=_cat
    )

  0%|          | 0/2314792 [00:00<?, ?it/s]

100%|██████████| 2314792/2314792 [00:59<00:00, 39081.51it/s]

In [22]:
q = f"""
SELECT
    *,
    similarity(lower(name), lower(%(word)s)) as sml
FROM
    indexkit
ORDER BY
    sml DESC;
"""
pd.read_sql(q, conn, params={"word": "TTseq"})

   id                          name       sml
0   4   10x Dual Index Kit TT Seq A  0.133333
1   3   10x Dual Index Kit TN Seq A  0.096774
2   6  10x Single Index Kit T Seq A  0.096774
3   5  10x Single Index Kit N Seq A  0.062500
4   0                         empty  0.000000
5   1   10x Dual Index Kit NN Set A  0.000000
6   2   10x Dual Index Kit NT Set A  0.000000

In [23]:
from limbless.core.DBSession import DBSession
from sqlmodel import func

In [24]:
with DBSession(db.db_handler) as session:
    res = session._session.query(models.SeqAdapter).order_by(
        func.similarity(models.SeqAdapter.name, "si ga g2").desc()
    ).limit(10).all()

res

[SeqAdapter(id=554, name='SI-GA-G2', index_kit_id=6, indices=[CAGCCACT [Index 3], ACTAGGAG [Index 2], GTCGATGC [Index 4], TGATTCTA [Index 1]], index_kit=IndexKit(id=6, name='10x Single Index Kit T Seq A', library_type_ids=[LibraryTypeId(id=3)])),
 SeqAdapter(id=553, name='SI-GA-G1', index_kit_id=6, indices=[TGCTCGTA [Index 4], ATGAATCT [Index 1], GATCTCAG [Index 2], CCAGGAGC [Index 3]], index_kit=IndexKit(id=6, name='10x Single Index Kit T Seq A', library_type_ids=[LibraryTypeId(id=3)])),
 SeqAdapter(id=561, name='SI-GA-G9', index_kit_id=6, indices=[CCTTGTAG [Index 4], TAGGACGT [Index 1], ATCCCACA [Index 2], GGAATGTC [Index 3]], index_kit=IndexKit(id=6, name='10x Single Index Kit T Seq A', library_type_ids=[LibraryTypeId(id=3)])),
 SeqAdapter(id=560, name='SI-GA-G8', index_kit_id=6, indices=[GGCTGTTG [Index 4], TATGAGCT [Index 1], CCGATAGC [Index 2], ATACCCAA [Index 3]], index_kit=IndexKit(id=6, name='10x Single Index Kit T Seq A', library_type_ids=[LibraryTypeId(id=3)])),
 SeqAdapter(id=555, name='SI-GA-G3', index_kit_id=6, indices=[CCTCATTC [Index 1], AGCATCCG [Index 2], GTGGCAAT [Index 3], TAATGGGA [Index 4]], index_kit=IndexKit(id=6, name='10x Single Index Kit T Seq A', library_type_ids=[LibraryTypeId(id=3)])),
 SeqAdapter(id=556, name='SI-GA-G4', index_kit_id=6, indices=[GCGATGTG [Index 1], AGATACAA [Index 2], TTTCCACT [Index 3], CACGGTGC [Index 4]], index_kit=IndexKit(id=6, name='10x Single Index Kit T Seq A', library_type_ids=[LibraryTypeId(id=3)])),
 SeqAdapter(id=557, name='SI-GA-G5', index_kit_id=6, indices=[GAGCAAGA [Index 1], TCTGTGAT [Index 2], CGCAGTTC [Index 3], ATATCCCG [Index 4]], index_kit=IndexKit(id=6, name='10x Single Index Kit T Seq A', library_type_ids=[LibraryTypeId(id=3)])),
 SeqAdapter(id=558, name='SI-GA-G6', index_kit_id=6, indices=[CTGACGCG [Index 1], GGTCGTAC [Index 2], TCCTTCTT [Index 3], AAAGAAGA [Index 4]], index_kit=IndexKit(id=6, name='10x Single Index Kit T Seq A', library_type_ids=[LibraryTypeId(id=3)])),
 SeqAdapter(id=559, name='SI-GA-G7', index_kit_id=6, indices=[GGTATGCA [Index 1], CTCGAAAT [Index 2], ACACCTTC [Index 3], TAGTGCGG [Index 4]], index_kit=IndexKit(id=6, name='10x Single Index Kit T Seq A', library_type_ids=[LibraryTypeId(id=3)])),
 SeqAdapter(id=483, name='SI-GA-A3', index_kit_id=6, indices=[TTCCCGAC [Index 4], GCAGTAGA [Index 3], AGTAGTCT [Index 2], CAGTACTG [Index 1]], index_kit=IndexKit(id=6, name='10x Single Index Kit T Seq A', library_type_ids=[LibraryTypeId(id=3)]))]

In [25]:
%%time
q = """
SELECT
    *,
    similarity(lower(name), lower(%(word)s)) AS sml
FROM
    seqadapter
ORDER BY
    sml DESC
LIMIT 10;
"""
pd.read_sql(q, conn, params={
    "word": "si ga g2"
})

CPU times: user 1.51 ms, sys: 35 µs, total: 1.55 ms
Wall time: 2.76 ms

    id      name  index_kit_id       sml
0  554  SI-GA-G2             6  1.000000
1  561  SI-GA-G9             6  0.600000
2  553  SI-GA-G1             6  0.600000
3  557  SI-GA-G5             6  0.600000
4  559  SI-GA-G7             6  0.600000
5  560  SI-GA-G8             6  0.600000
6  555  SI-GA-G3             6  0.600000
7  558  SI-GA-G6             6  0.600000
8  556  SI-GA-G4             6  0.600000
9  483  SI-GA-A3             6  0.545455

In [26]:
%%time
q = """
SELECT
    *,
    greatest(similarity(common_name, %(word)s), similarity(scientific_name, %(word)s)) AS score
FROM
    {table}
WHERE
    common_name %% %(word)s
OR
    scientific_name %% %(word)s
ORDER BY
    score DESC
LIMIT 100;
"""
pd.read_sql(q.format(table="organism"), conn, params={
    "word": "msculus"
})

CPU times: user 1.38 ms, sys: 14 µs, total: 1.39 ms
Wall time: 9.18 ms

   tax_id  scientific_name             common_name  category     score
0   10090     Mus musculus             house mouse         3  0.545455
1   51337  Jaculus jaculus  lesser Egyptian jerboa         3  0.333333